:root {
    --color-primario: #F9F5EF;
    --color-secundario: #DDC190;
    --color-terciario: #868686;

    --fuente-primaria: "Ephesis", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: var(--color-primario);
    user-select: none;
    padding-top: 30px; /* Asegura que el contenido no se solape con el header */
}

header {
    background-color: var(--color-primario);
    width: 100%;
    height: auto;
    min-width: 60px;
    padding: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: var(--color-secundario);
    font-family: var(--fuente-primaria);
    font-size: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container-img {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.div-img {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.div-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

/* Degradado en la parte inferior de la imagen */
.div-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    border-radius: 5px;
}

.div-text {
    position: absolute;
    width: 100%;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.text1 {
    font-size: 40px;
}

.text2 {
    font-size: 15px;
    margin-top: 10px;
}

.container-contador{
    /* background-color: red; */
    text-align: center;
    margin: 130px 0 130px 0;
}
.cuando{
    font-size: 14px;
    color: var(--color-secundario);
    margin: 10px;
}
.fecha{
    font-size: 30px;
    color: var(--color-terciario);
    margin: 10px;
}
.contador{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item{
    margin: 10px;
}
.separador{
    font-size: 18px;
    color: var(--color-secundario);
}
.numero{
    color: var(--color-secundario);
    font-size: 30px;
}
.tiempo{
    font-size: 12px;
    color: var(--color-terciario);
}

.container-direcciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-terciario);
    /* background-color: red; */
     /* border-top: 1px solid var(--color-terciario); */
    width: 100%;
    padding: 100px 0 100px 0;
}
.container-direcciones svg{
    width: 45px;
    height: 45px;
}
.direccion{
    margin: 40px;
}
.title-direccion{
    font-size: 30px;
    margin: 10px;
}
.direccion-horario{
    font-size: 25px;
    margin: 10px;
    margin-bottom: 25px;
}
.container-direcciones a{
    background-color: #eaeaea;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    color: var(--color-terciario);
    font-size: 14px;
}
.container-historia{
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
.historia-img{
    /* background-color: green; */
    /* width: 100%; */
    /* height: 50%; */
     display: flex;
     align-items: center;
     justify-content: center;
}
.historia-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}
.historia{
    /* background-color: rgb(0, 9, 128); */
    /* width: 100%; */
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.historia svg{
    width: 60px;
    height: 60px;
    /* margin: 10px; */
     margin: 20px;
}
.historia-title{
    font-size: 30px;
    margin: 20px 0 20px 0;
    font-family: var(--fuente-primaria);
    color: var(--color-terciario);
}
.historia-texto{
    max-width: 500px;
    line-height: 1.5;
    color: var(--color-terciario);
}

.container-album{
    width: 100%;
    height: auto;
    text-align: center;
}
.title-album{
    font-size: 14px;
    color: var(--color-secundario);
}
.subtitle-album{
    font-size: 30px;
    color: var(--color-terciario);
}
.container-img-album{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
    overflow: hidden;
}
.container-img-album img{
    width: 40%;
    height: 70vw;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
}

footer{
    background-color: rgb(40, 40, 40);
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    font-size: 12px;
}

.container-confirmar{
    background-color: var(--color-secundario);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.container-confirmar svg{
    width: 60px;
    height: 60px;
}
.title-confirmar{
    font-size: 30px;
    color: var(--color-primario);
    margin: 20px;
}
.subtitle-confirmar{
    color: var(--color-primario);
}
.container-confirmar button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    margin: 20px;
    border-radius: 100px;
    background-color: white;
    color: var(--color-terciario);
    border: none;
}
.container-confirmar button:hover{
    cursor: pointer;
}
.container-confirmar button svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sonido{
    background-color: var(--color-secundario);
    /* width: 100px; */
    /* height: 100px; */
     padding: 10px;
     border-radius: 100px;
     border: 3px solid var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}
.sonido:hover{
    cursor: pointer;
}
.sonido svg{
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    header {
        font-size: 50px;
        padding: 10px;
    }

    .text1 {
        font-size: 70px;
    }

    .text2 {
        font-size: 18px;
    }
    .cuando{
        font-size: 16px;
    }
    .fecha{
        font-size: 40px;
    }
    .numero{
        color: var(--color-secundario);
        font-size: 50px;
    }
    .tiempo{
        font-size: 12px;
        color: var(--color-terciario);
    }
    .item{
        margin: 30px;
    }
    .container-direcciones{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-direcciones svg{
        width: 70px;
        height: 70px;
    }
    .direccion{
        margin:40px 100px 40px 100px;
    }
    .title-direccion{
        font-size: 40px;
        /* margin: 10px; */
    }
    .direccion-horario{
        font-size: 30px;
        /* margin: 10px; */
    }

    .container-historia{
        flex-direction: row;
    }
    .historia-img img{
        width: 90%;
        max-width: 600px;
        height: 90%;
        max-height: 600px;
        object-fit: cover;
        padding: 10px;
    }
    .historia svg{
        width: 70px;
        height: 70px;
    }
    .historia-title{
        font-size: 40px;
    }
    .container-img-album img{
        width: 23%;
        height: 30vw;
        object-fit: cover;
        margin: 5px;
        border-radius: 5px;
    }
}
